$header-nav-color: #001f3b;

div.header-top {
  z-index: 10;
  position: fixed;
  width: 100vw;
  background: #fff;
  div.header-top-inside {
    // padding: 18px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav.header-nav {
      display: block;
      box-sizing: border-box;
      height: calc(100%);
      a {
        height: calc(100%);
        display: inline-block;
        height: 100%;
        padding: 28px 0;
        margin-left: 64px;
        font-family: "Inter Regular";
        text-decoration: none;
        color: $header-nav-color;
      }
    }
  }
}

header.page-header {
  position: relative;
  & > img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  background-image: url("../assets/images/header-clouds.png"),
    linear-gradient(180deg, #3e81d8 0%, #98b8e0 100%);
  background-repeat: repeat-x;
  background-position: bottom center;
  padding-top: 260px;
  padding-bottom: 300px;
  div.header-inside {
    & > h1 {
      max-width: 600px;
      font-family: "Inter Bold";
      font-size: 60px;
      color: #fff;
      margin-bottom: 24px;
    }
    & > p {
      font-family: "Inter Regular";
      font-size: 18px;
      line-height: 27px;
      color: #fff;
      max-width: 388px;
      margin-bottom: 56px;
    }
    button {
      @include submit-button(#fff, #f7f7f7, 24px, 16px);
      &:active {
        background-color: #f0f0f0;
      }
      svg {
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        svg {
          transform: translateX(5px);
        }
      }
    }
  }
}

div.advantages {
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  div.advantage {
    background: #fff;
    border-radius: 12px;
    padding: 32px;
    box-sizing: border-box;
    h1 {
      margin-top: 16px;
      font-family: "Inter Semibold";
      font-size: 18px;
      color: $header-nav-color;
    }
    p {
      margin-top: 10px;
      font-family: "Inter Medium";
      font-size: 15px;
      color: #8d99a5;
    }
  }
}
