.how-it-works-wrapper {
  position: relative;
}

.how-it-works {
  height: 100vh;
  box-sizing: border-box;
  &.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  &.animation-end {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  background-color: #f1f7f9;
  .how-it-works-inside {
    padding-top: 88px;
    padding-bottom: 105px;
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
      h1 {
        font-family: "Inter Bold";
        color: #001f3b;
        font-size: 52px;
        margin-bottom: 40px;
      }
      .header-buttons {
        padding: 5px;
        background-color: #fff;
        border-radius: 12px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05),
          0px 1px 4px rgba(0, 0, 0, 0.07);
        button {
          background: #fff;
          cursor: pointer;
          border-radius: 7px;
          border: none;
          outline: none;
          padding: 10px 72px;
          font-family: "Inter Regular";
          color: #32280c;
          font-size: 16px;
          font-weight: 600;
          &.active {
            background: #fbc73b;
          }
        }
      }
    }
    .steps {
      height: calc(100vh - 150px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      // &.sell-steps {
      //   display: none;
      // }
      .steps-list {
        max-height: 100%;
        align-self: center;
        list-style: none;
        .step {
          &.open {
            .step-number {
              opacity: 1;
            }
            .step-name {
              opacity: 1;
            }
          }
          &:not(:last-child) {
            margin-bottom: 48px;
          }
          .step-number {
            margin-bottom: 12px;
            color: #3886ce;
            font-size: 24px;
            font-family: "Inter Bold";
            font-weight: 800;
            opacity: 0.7;
            transition: opacity 0.3s ease-in-out;
          }
          .step-name {
            font-family: "Inter Semibold";
            font-size: 36px;
            color: #001f3b;
            margin-bottom: 8px;
            opacity: 0.7;
            transition: opacity 0.3s ease-in-out;
          }
          .step-description {
            transition: all 0.3s ease-in-out;
            max-height: 0;
            overflow: hidden;
            p {
              font-family: "Inter Medium";
              font-size: 18px;
              color: #001f3b;
              opacity: 0.5;
            }
          }
        }
      }
      .step-image {
        // flex: 1 0.5 auto;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-self: flex-start;
        font-size: 0;
        img {
          max-height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .how-it-works-wrapper {
    .how-it-works {
      .center {
        max-width: 952px;
      }
    }
  }
}

@media (max-width: 800px) {
  .how-it-works-wrapper {
    .how-it-works {
      .how-it-works-inside {
        .steps {
          .steps-list {
            .step {
              .step-name {
                font-size: 28px;
              }
              .step-description {
                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .how-it-works-wrapper {
    .how-it-works {
      .center {
        max-width: 400px;
      }
      .how-it-works-inside {
        header {
          h1 {
            font-size: 36px;
            text-align: center;
          }
        }
        .steps {
          grid-template-columns: 1fr;
          .steps-list {
            max-width: 100%;
            .step {
              .step-description {
                max-height: max-content;
              }
              &.open {
                display: block;
              }
              display: none;
              &:last-child {
                margin-bottom: 32px;
              }
              margin-bottom: 32px;
            }
          }
          .step-image {
            width: 100%;
            height: calc(100vh - 350px);
            img {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
