.install-now {
  background: #fbc73b;
  .install-now-inside {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .install-text {
      max-width: 565px;
      h1 {
        font-size: 52px;
        font-family: "Inter Bold";
        line-height: 135%;
      }
    }
    .install-images {
      a {
        font-size: 0;
        vertical-align: middle;
      }
      width: 415px;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 1080px) {
  .install-now {
    .install-now-inside {
      .install-images {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        a:not(:last-of-type) {
          margin-bottom: 33px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .install-now {
    .install-now-inside {
      padding-top: 56px;
      padding-bottom: 56px;
      flex-direction: column;
      .install-text {
        max-width: 100%;
        margin-bottom: 48px;
        h1 {
          line-height: 39px;
          font-size: 36px;
        }
      }
      .install-images {
        flex-direction: row;
        a:not(:last-of-type) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .install-now {
    .center {
      padding-left: 40px;
      padding-right: 40px;
    }
    .install-now-inside {
      padding-top: 40px;
      padding-bottom: 40px;
      .install-text {
        margin-bottom: 32px;
      }
      .install-images {
        // display: block;
        display: grid;
        grid-template-columns: 44.5% 50.8%;
        column-gap: 4.7%;
        width: 100%;
        flex-direction: row;
        a {
          align-self: stretch;
          margin-bottom: 0;
          align-items: stretch;
          img {
            max-width: 100%;
            min-height: 100%;
          }
        }
      }
    }
  }
}
