* {
  margin: 0;
  padding: 0;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

@font-face {
  font-family: "Inter Regular";
  src: url("../assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter Semibold";
  src: url("../assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter Medium";
  src: url("../assets/fonts/Inter-Medium.ttf");
}
div.header-top {
  z-index: 10;
  position: fixed;
  width: 100vw;
  background: #fff;
}
div.header-top div.header-top-inside {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.header-top div.header-top-inside nav.header-nav {
  display: block;
  box-sizing: border-box;
  height: calc(100%);
}
div.header-top div.header-top-inside nav.header-nav a {
  height: calc(100%);
  display: inline-block;
  height: 100%;
  padding: 28px 0;
  margin-left: 64px;
  font-family: "Inter Regular";
  text-decoration: none;
  color: #001f3b;
}

header.page-header {
  position: relative;
  background-image: url("../assets/images/header-clouds.png"), linear-gradient(180deg, #3e81d8 0%, #98b8e0 100%);
  background-repeat: repeat-x;
  background-position: bottom center;
  padding-top: 260px;
  padding-bottom: 300px;
}
header.page-header > img {
  position: absolute;
  right: 0;
  bottom: 0;
}
header.page-header div.header-inside > h1 {
  max-width: 600px;
  font-family: "Inter Bold";
  font-size: 60px;
  color: #fff;
  margin-bottom: 24px;
}
header.page-header div.header-inside > p {
  font-family: "Inter Regular";
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  max-width: 388px;
  margin-bottom: 56px;
}
header.page-header div.header-inside button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  padding-left: 24px;
  padding-right: 16px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  font-family: "Inter Bold";
  font-size: 16px;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 7px;
}
header.page-header div.header-inside button:hover {
  background: #f7f7f7;
  cursor: pointer;
}
header.page-header div.header-inside button:active {
  background-color: #f0f0f0;
}
header.page-header div.header-inside button svg {
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
header.page-header div.header-inside button:hover svg {
  transform: translateX(5px);
}

div.advantages {
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
div.advantages div.advantage {
  background: #fff;
  border-radius: 12px;
  padding: 32px;
  box-sizing: border-box;
}
div.advantages div.advantage h1 {
  margin-top: 16px;
  font-family: "Inter Semibold";
  font-size: 18px;
  color: #001f3b;
}
div.advantages div.advantage p {
  margin-top: 10px;
  font-family: "Inter Medium";
  font-size: 15px;
  color: #8d99a5;
}

section.about div.about-inside {
  padding-top: 265px;
  padding-bottom: 175px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 125px;
  align-items: center;
}
section.about div.about-inside div.about-text h1 {
  font-family: "Inter Bold";
  font-size: 36px;
  color: #001f3c;
  margin-bottom: 28px;
}
section.about div.about-inside div.about-text p {
  color: #001f3b;
  opacity: 0.5;
  font-family: "Inter Regular";
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 29px;
}
section.about div.about-inside div.about-text button.submit-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  padding-left: 24px;
  padding-right: 21px;
  background: #fbc73b;
  transition: all 0.3s ease-in-out;
  font-family: "Inter Bold";
  font-size: 16px;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 7px;
  color: #32280c;
}
section.about div.about-inside div.about-text button.submit-button:hover {
  background: #f7bb08;
  cursor: pointer;
}
section.about div.about-inside div.about-text button.submit-button:hover svg {
  transform: translateX(5px);
}
section.about div.about-inside div.about-text button.submit-button:active {
  background-color: #f4b701;
}
section.about div.about-inside div.about-text button.submit-button svg {
  transition: all 0.3s ease-in-out;
  margin-left: 17px;
}

/*# sourceMappingURL=style.css.map */
